@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';

@theme {
    --color-primary: #1F2041;
    --color-secondary: #4B3F72;
    --color-tertiary: #B1ABC6;
    --color-highlight: #FFC857;
    --font-display: "Inter", "font-sans";
    --breakpoint-xs: 30rem;
}

@layer components {
    .tag {
        @apply bg-secondary ring ring-inset ring-highlight/20 rounded-4xl;
    }
    
    .separator {
        @apply inline-block h-[15px] min-h-[1em] w-0.5 bg-tertiary;
    }

    .gradient-bg {
        @apply bg-gradient-to-b from-primary via-10% to-slate-950/90;
    }
}
